@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");

/* Scaffolding
/* ------------------------- */

html {
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  background-color: #f4f4f4;;
  margin-bottom: 44px;
  line-height: 1.57142857;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: #1d7cf4;
}

a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

.login-container {
  max-width: 555px;
}

/* Alerts
/* ------------------------- */

.alert {
  border-width: 0 0 0 3px;
}

.alert-info {
  border-color: #31708f;
}

.alert-success {
  color: #fff;
  background-color: #29b35b;
  border-color: #1d8141;
}

.alert-danger {
  color: #b61b17;
  background-color: #ffcdd2;
  border-color: #b61b17;
}

/* Navbar
/* ------------------------- */
/* 
.navbar-default {
  background-color: #fff;
  border-color: #e0e0e0;
}

.navbar-default .navbar-nav {
  color: #757575;
}

.navbar-default .navbar-nav > li > a {
  color: #262626;
  border-bottom: 3px solid transparent;
  padding-top: 17.5px;
  padding-bottom: 14.5px;
  transition: all 0.25s;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;;
  border-bottom-color: #bdbdbd;
}

.navbar-default .navbar-nav > li > a.navbar-avatar {
  padding-top: 13px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.navbar-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #3f51b5;
  background-color: transparent;
  color: #262626;
} */



#mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: white;
	border: 0;
	background-color: #fed136;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
	color: black;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  font-size: 40px;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color:  black;
 
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: 0.75em 0;
	letter-spacing: 1px;
	color: white;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black !important;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  color: black;
  background-color: black !important;
}
.navbar-nav>li>a {
  color: black!important;
}



/* Panels
/* ------------------------- */

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading {
  padding: 20px 30px;
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  padding: 30px;
}

.panel-body h3 {
  margin-top: 0;
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

/* Buttons
/* ------------------------- */

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
}

.btn:focus {
  outline: 0 !important;
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
}

.btn-default:active {
  background: #e6e6e6 linear-gradient(to bottom, #f0f0f0, #e6e6e6);
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
}

.btn-success:active {
  background: #239a4e linear-gradient(to bottom, #28af59, #239a4e);
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
}

.btn-danger:active {
  background: #9b1714 linear-gradient(to bottom, #b11a17, #9b1714);
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
}

.btn-google:hover,
.btn-google:focus {
  color: #fff;
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
}

.btn-vk:hover,
.btn-vk:focus {
  color: #fff;
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
}

/* Forms */
/* ------------------------- */

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


/* Banner */
.bannerBox {
  height: 80%;
  width: 100vw;
  background:#ccc;
  padding: 40px;
  margin-bottom: 20px;
}

.banner {
    height: 500px;
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
   /*  background: url(../images/facebook_cover_photo_2.png) no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; */
}

.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* Tiles */

.tiles{
  min-height: 800px;
  height: 800px;
  width: 85%;
}
.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

.mainBody {
  margin-bottom: 20px;
  padding: 5px;
}
@media (max-width: 800px) {
  .wrap {
   flex-direction: column;
    width: 400px;
  }
  .tile
  {
    width:380px;
    height:380px;
    margin:5px;
    background-color:#99aeff;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 20px 52px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;
    font-family:'Roboto';
    
  }
}

@media screen and (max-width : 320px) {
  .bannerBox {
    background-color: transparent !important;
  }
  .banner {
    height: 30%!important;
    width: 100%!important;
  }
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color:  black;
  }
  
}
@media screen and (max-width: 550px) {
  .bannerBox {
    background-color: transparent !important;
  }
  .banner {
    height: 30%!important;
    width: 100%!important;
  }
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color:  black;
  }
  #mainNav .navbar-brand {
    color: black;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-size: 20px;
  }
  .wrap {
    flex-direction: column;
     width: 400px;
   }
  .tile
  {
    width:280px;
    height:280px;
    margin:5px;
    background-color:#99aeff;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 20px 52px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;
    font-family:'Roboto';
    
  }
}

@media screen and (max-width: 680px) {
  .bannerBox {
    background-color: transparent;
  }
  .banner {
    height: 30%!important;
    width: 100%!important;
  }
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color:  black;
  }
  .tile
  {
    width:350px;
    height:350px;
    margin:5px;
    background-color:#99aeff;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 20px 52px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;
    font-family:'Roboto';
    
  }
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: 25px;
		padding-bottom: 25px;
		-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
		-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		border: none;
		background-color: transparent;
	}

	#mainNav .navbar-brand {
		font-size: 2.75em;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

  #mainNav .navbar-toggle .icon-bar {
    background-color: black !important;
}
	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em !important;
	}

	#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
	}

	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.25em;
		padding: 12px 0;
  }
  .bannerBox {
    width: 100vw;
    margin-bottom: 20px;
  }
  .banner {
    height: 30%;
    width: 100%;
    
  }

 
}

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

p {
  line-height: 1.75
}

a {
  color: #fed136
}

a:hover {
  color: #fec503
}

.text-primary {
  color: #fed136!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

section {
  padding: 100px 0
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media (min-width:768px) {
  section {
      padding: 150px 0
  }
}

.btn {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #fec810!important;
  border-color: #fec810!important;
  color: #fff
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(254, 209, 55, .5)!important
}

::-moz-selection {
  background: #fed136;
  text-shadow: none
}

::selection {
  background: #fed136;
  text-shadow: none
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}

#mainNav {
  background-color: #212529
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #fed136;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #fec503
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  color: #fff;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136
}

@media (min-width:992px) {
  #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top .3s, padding-bottom .3s;
      -moz-transition: padding-top .3s, padding-bottom .3s;
      transition: padding-top .3s, padding-bottom .3s;
      border: none;
      background-color: transparent
  }
  #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s
  }
  #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em!important
  }
  #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529
  }
  #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0
  }
}

header.masthead {
  text-align: center;
  color: #fff;
  background-image: url(../images/facebook_cover_photo_2.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 50px
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 5px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 5px;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media (min-width:768px) {
  header.masthead .intro-text {
      padding-top: 300px;
      padding-bottom: 200px
  }
  header.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
  }
  header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(254, 209, 54, .9)
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#portfolio * {
  z-index: 2
}

@media (min-width:767px) {
  #portfolio .portfolio-item {
      margin: 0 0 30px
  }
}

.portfolio-modal {
  padding-right: 0!important
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px
}

.portfolio-modal .modal-content button {
  cursor: pointer
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent
}

.portfolio-modal .close-modal:hover {
  opacity: .3
}

.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529
}

.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px
}

.timeline>li:after,
.timeline>li:before {
  display: table;
  content: ' '
}

.timeline>li:after {
  clear: both
}

.timeline>li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0
}

.timeline>li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: #fff;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136
}

.timeline>li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0
}

.timeline>li:last-child {
  margin-bottom: 0
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit
}

.timeline .timeline-heading h4.subheading {
  text-transform: none
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0
}

@media (min-width:768px) {
  .timeline:before {
      left: 50%
  }
  .timeline>li {
      min-height: 100px;
      margin-bottom: 100px
  }
  .timeline>li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right
  }
  .timeline>li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px
  }
  .timeline>li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left
  }
}

@media (min-width:992px) {
  .timeline>li {
      min-height: 150px
  }
  .timeline>li .timeline-panel {
      padding: 0 20px 20px
  }
  .timeline>li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px
  }
  .timeline>li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
      padding: 0 20px 20px
  }
}

@media (min-width:1200px) {
  .timeline>li {
      min-height: 170px
  }
  .timeline>li .timeline-panel {
      padding: 0 20px 20px 100px
  }
  .timeline>li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px
  }
  .timeline>li .timeline-image h4 {
      margin-top: 40px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
      padding: 0 100px 20px 20px
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none
}

.team-member p {
  margin-top: 0
}

section#contact {
  background-color: #212529;
  background-image: url(../img/map-image.png);
  background-repeat: no-repeat;
  background-position: center
}

section#contact .section-heading {
  color: #fff
}

section#contact .form-group {
  margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px
}

section#contact .form-group input.form-control {
  height: auto
}

section#contact .form-group textarea.form-control {
  height: 248px
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none
}

section#contact::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

section#contact:-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

section#contact::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

section#contact:-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

footer {
  padding: 25px 0;
  text-align: center
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

ul.social-buttons {
  margin-bottom: 0
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #212529
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fed136
}